<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STRAINER_EXTRACT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="STRAINER_EXTRACT.Properties.Settings.DB" connectionString="Server=localhost;Database=_pallocan;Username=root;Password=supervisor;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <STRAINER_EXTRACT.Properties.Settings>
            <setting name="FOLDERS" serializeAs="String">
                <value>AR,GI,GR,IP,PR,RC,RG,RV,</value>
            </setting>
            <setting name="FOR_SYNC_FOLDER" serializeAs="String">
                <value>C:\DropsiteTemp\</value>
            </setting>
            <setting name="TEMP_FOLDER" serializeAs="String">
                <value>C:\TempPath\</value>
            </setting>
            <setting name="DROPSITE_FOLDER" serializeAs="String">
                <value>C:\TestPath\</value>
            </setting>
            <setting name="AR_STORED_PROC" serializeAs="String">
                <value>ARStored_1,ARStored_2,ARStored_4</value>
            </setting>
            <setting name="GI_STORED_PROC" serializeAs="String">
                <value>GIStored_1_Ref,GIStored_2_Ref,GIStored_4_Ref</value>
            </setting>
            <setting name="GR_STORED_PROC" serializeAs="String">
                <value>GRStored_1_Ref,GRStored_2_Ref,GRStored_4_Ref</value>
            </setting>
            <setting name="PR_STORED_PROC" serializeAs="String">
                <value>PRStored_1_Ref, PRStored_2_Ref</value>
            </setting>
            <setting name="RC_STORED_PROC" serializeAs="String">
                <value>RCStored_1,RCStored_2,RCStored_4</value>
            </setting>
            <setting name="RG_STORED_PROC" serializeAs="String">
                <value>RGStored_1_Ref,RGStored_2_Ref,RGStored_4_Ref</value>
            </setting>
            <setting name="RV_STORED_PROC" serializeAs="String">
                <value>RVStored_1_Ref,RVStored_2_Ref,RVStored_4_Ref</value>
            </setting>
            <setting name="IP_STORED_PROC" serializeAs="String">
                <value>IPStored_1,IPStored_2,IPStored_3,IPStored_4,IPStored_5</value>
            </setting>
            <setting name="AR_STORED_PROC2" serializeAs="String">
                <value>ARStored_5,ARStored_6,ARStored_8</value>
            </setting>
            <setting name="FOR_FINAL_SYNC_FOLDER" serializeAs="String">
                <value>C:\Projecterp\Pallocan\</value>
            </setting>
            <setting name="GENERATION_BY_BATCH" serializeAs="String">
                <value>AR,IP,RC</value>
            </setting>
            <setting name="BRANCH_CODE" serializeAs="String">
                <value>SIDC-1-2-1-1</value>
            </setting>
            <setting name="WAREHOUSE" serializeAs="String">
                <value>WHC0003</value>
            </setting>
        </STRAINER_EXTRACT.Properties.Settings>
    </userSettings>
</configuration>